
/* ===================================================== */
/* = STYLES ARE ORDERED ACCORDING TO FIRST OCCURRENCE == */
/* ===================================================== */

/* ===================================================== */
/* ==================== START SCREEN 1  ================ */
/* ===================================================== */

#startWrapper {
    overflow: hidden !important;
}
#startS1Wrapper {
    display: block;
    opacity: 1;
}
    #startS1Wrapper.fadeOut {
        opacity: 0;
        transition: 1.5s all ease-in-out;
    }
#startS1HeaderDiv {
    position: relative;
    top: 50px;
}
    #startS1Header {
        position: relative;
        font-size: 60px;
    }
    #startS1SubHeader {
        position: relative;
        top: -20px;
        font-size: 30px;
    }
#startS1EnemyDiv {
    position: relative;
    top: 30px;
    height: 260px;
}
#startS1FormDiv {
    position: relative;
}
    #startS1FormMessage {
        position: relative;
        left: 110px;
        width: 100%;
        font-size: 25px;
    }
    #startS1FormHelp {
        transform: scale(.5);
        position: relative;
        left: -10px;
        top: -2px;
        font-size: 18px;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 1px dashed rgb(103, 255, 65);
        background-color: rgba(0, 0, 0, 0);
    }
    #startS1Email {
        margin-top: -15px;
    }
    #startS1Password {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #startS1Login {
        width: 100%;
    }
    #startS1PasswordToggle {
        position: relative;
        top: 8px;
    }
    #startS1ToggleLabel {
        position: relative;
        top: 6px;
        left: 12px;
    }
    #startS1SignUp {
        margin-top: 20px;
        width: 90%;
    }
#startS1GuestText {
    margin-top: 15px;
}
#startS1Guest {
    margin-top: -5px;
    width: 100%;
}

/* ===================================================== */
/* ==================== START SCREEN 3  ================ */
/* ===================================================== */

#startS3Wrapper {
    display: none;
}
    #startS3Wrapper.fadeIn {
        display: block;
        opacity: 1;
        transition: 1.5s all ease-in-out;
        animation: startS3FadeIn 1s ease-in-out;
    }
    #startS3Wrapper.fadeOut {
        display: block;
            opacity: 0;
            animation: startS3FadeOut 1s ease-in-out;
            transition: 1s all ease-in-out;
    }
    @keyframes startS3FadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes startS3FadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
#startS3Wrapper {
    height: 1000px;
}
#startS3HeaderDiv {
    position: relative;
    top: 50px;
}
    #startS3Header {
        position: relative;
        font-size: 60px;
    }
    #startS3SubHeader {
        position: relative;
        top: -20px;
        font-size: 30px;
    }
.floor {
    opacity: .3;
    position: relative;
    top: 160px;
    left: -300px;
    transform: matrix3d(2, 0, 1, 0, 
    -1, 0, 0, -0.003, 
    0, 0, 1, 0, 
    201, 199, 0, 1);
    transform-origin: 0px 0px 0px;
    width: 500px;
    height: 500px;
    z-index: -1000;
}
.leftWall {
    position: relative;
    left: -350px;
    top: -680px;
    font-size: 4px;
    opacity: .3;
}
.rightWall {
    overflow: hidden !important;
    position: relative;
    right: -350px;
    bottom: 1300px;
    font-size: 4px;
    opacity: .3;
}
#startS3DisplayName {
    position: absolute;
    top: 365px;
    left: 35%;       
    text-decoration: underline;  
}
#startS3ButtonDiv {
    position: relative;
    top: -1460px;
    z-index: 1000;
}
    #startS3CreateCharacter {
        margin-top: 15px;
        width: 65%;
    }
    #startS3Continue {
        width: 70%;
    }
#startS3OptionsDiv {
    position: relative;
    top: -1260px;
    z-index: 1000;
}
    #startS3Back {
        float: left;
        width: 100px;
    }
    #startS3Options {
        float: right;
        width: 100px;
    }
#startS3DisplayMessageDiv {
    position: relative;
    top: -1470px;
    left: 10px;
    width: 80%;
    text-align: left !important;
    text-indent: 25px;
    border-radius: 8px;
    display: block;
    opacity: 1;
}
    #startS3DisplayMessageDiv.fadeOut {
        opacity: 0;
        transition: .5s all ease-in-out;
    }
    #startS3DisplayMessageDiv.fadeIn {
        opacity: 1;
        transition: .5s all ease-in-out;
        animation: fadeIn 1s ease-in-out;
    }
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        #startS3DisplayMessage {
            font-size: 14px;
        }

    #profileIconDiv {
        position: absolute;
        top: 160px;
        left: 150px;
    }
    .profileIcon {

        overflow: hidden !important;
        position: relative;
        top: 40px;
        left: -45px;
        animation: profileIconGlow 5s infinite ease-in-out;
    }
    @keyframes profileIconGlow {
        0% {
            filter: drop-shadow(0px 0px 40px rgb(21, 255, 0));
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(-2deg);
        }
        50% {
            filter: drop-shadow(0px 0px 40px rgb(23, 155, 11));
            transform: rotate(0deg);
        }
        75% {
            transform: rotate(2deg);
        }
        100% {
            filter: drop-shadow(0px 0px 40px rgb(21, 255, 0));
            transform: rotate(0deg);
        }
    }
