#profileIconDiv {
    overflow: hidden !important;
    position: absolute;
    font-size: 3px;
    clip-path: circle(50% at 50% 50%);
    border: 1.5px dashed rgb(103, 255, 65);
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
#profileIconDiv:hover {
    /* background-color: rgba(1, 61, 16, 0.377); */
    background: radial-gradient(circle, rgba(0, 255, 13, 0.212) 0%, rgba(29, 28, 28, 0.671) 100%);
    transition: .5s all ease-in-out;
    filter: drop-shadow(0px 0px 50px green);
}