/* ===================================================== */
/* =================== CUSTOM FONTS ==================== */
/* ===================================================== */

@font-face {
    font-family: "alagardmedium";
    src: url("../../../assets/fonts/alagard-webfont.woff2") format("woff2"),
         url("../../../assets/fonts/alagard-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
/* ===================================================== */
/* ================ DEFAULT DOM NODES ================== */
/* ===================================================== */

* {
    font-family: "alagardmedium";
    color: rgb(60, 255, 0) !important;
}

/* ===================================================== */
/* ==================== ID STYLES  ===================== */
/* ===================================================== */

#characterWrapper {
  border: 1.5px dashed rgb(60, 255, 0);
  border-radius: 8px;
}
#headline {
  font-size: 80px;
}
#mainBody {
  margin-top: 50px;
}

/* ===================================================== */
/* ================ KEYFRAME ANIMATIONS  =============== */
/* ===================================================== */