/* ===================================================== */
/* ================ DEFAULT DOM NODES ================== */
/* ===================================================== */

body {
  background-color: rgb(29, 28, 28) !important;
}
input {
  background-color: rgb(29, 28, 28) !important;
  border: 1px rgb(134, 255, 104) dashed !important;
  text-align: center !important;
}
  input:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  input::placeholder {
    text-align: center;
    color: rgba(103, 255, 65, 0.418) !important; 
  }
  
/* ===================================================== */
/* ============== BOOTSTRAP OVERRIDES ================== */
/* ===================================================== */

.btn-success {
  background: none !important;
  border: 1px rgb(134, 255, 104) dashed;
  font-size: 15px;
}
.btn-success:focus {
  box-shadow: none !important;
  outline: none;
}
.btn-success:hover {
  background: rgb(63, 75, 46) !important;
  border: 1px rgb(134, 255, 104) dashed;
}
.dropdown-divider {
  border-top: none !important;
}
.dropdown-item {
  transition: all .2s ease-in-out;
  color: rgb(128, 255, 96) !important;
  }
  .dropdown-item:hover {
    background: rgba(4, 116, 0, 0.479) !important;
  }
.dropdownLink {
  color: rgb(92, 177, 71);
}
.dropdown-menu {
border: none !important;
background: rgba(36, 36, 36, 0.911) !important;
}
  @media (min-width: 993px) {
    .dropdown-menu {
      border: 1.5px dashed rgb(104, 200, 80) !important;
      box-shadow: 0px 0px 20px rgb(17, 148, 0);
    }
    .dropdown-divider {
      border-top: 1px dashed rgb(51, 255, 0) !important;
    }
  }
.navbar {
  border-bottom: 1px rgb(134, 255, 104) dashed;
  background: rgba(0, 0, 0, 0) !important;
}
.navbar-brand {
  color: rgb(89, 255, 47) !important;
  font-size: 30px !important;
}
.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}
.nav-link {
  transition: all .2s ease-in-out;
  color: rgb(92, 177, 71) !important;
  font-size: 20px !important;
  border-radius: 8px;
}
.nav-link:hover {
  color: rgb(51, 255, 0) !important;
  background: rgba(4, 116, 0, 0.479) !important;
}